/* Default */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* Heading */
/* icon */
#college_icon {
    width: 100px;
    height: 80px;
}
 
#title {
    padding-top: 25px;
} 

.title-div {
    display: flex;
}

/* New NAV */
.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar .nav-a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.navbar .nav-a:hover {
    background-color: #FF0000;
}

.navbar .nav-a:active {
    background-color: #ff3e3e;
}

/* main */
#login-icon {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

#form-title-feedback {
    margin-top: 5px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.feed-block {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 5px 5px;
}

.feed-subblock {
    /* background-color: cornflowerblue; */
    padding: 5px 15px;
    width: 600px;
    margin: 5px 5px;
    border-radius: 15px;
}

.feed-content {
    margin: 10px 5px;
    /* float: inline-end;
    display: flex; */
}

input {
    padding: 8px 10px;
    border: none;
    border-radius: 0;
    font-size: medium;
    font-weight: bold;
    border-bottom: 2px solid #3498DB;
    width: 80%;
}

button {
    background-color: #3498DB;
    color: white;
    padding: 5px 20px;
    font-size: medium;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

select {
    padding: 3px 1px;
    margin: 2px 2px;
    font-weight: bold;
}

/* Footer */
#ul-foot {
    list-style-type: none;
    overflow: hidden;
    background-color:grey;
}

.li-foot {
    float: left;
    display: block;
    text-align: center;
    padding: 5px 0px 5px 10px;
}

.a-foot {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-right: 10px;
}

/* url handlers */
.error {
    color: red;
    font-weight: bold;
}


.success {
    color: green;
    font-weight: bold;
}